    body {
        box-sizing: border-box;
        margin: 0 auto;
        background: #DED1BD;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        /* overflow: hidden;  */
    }
    
    
    .App {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        font-family: sans-serif;
        text-align: center;
        width: 100%;
        height: 100%;  
    }
    
    .component-list {
        margin: 0 auto;
        min-width: 100vw;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
     
    .nav-style {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 130px;
        width: 100%;
        padding: 0px;
        background-image: linear-gradient(to bottom, transparent, rgb(240, 220, 190));
    }

    .newbub {
        
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0 auto; 
        
    }

    .navspace {
        flex: 1;
    }


    .maglogo {
        
        display: flex;
        flex-direction: row;        
        z-index: 75; 
        border: 10px solid white; 
        object-fit: none; 
    }

    .bavnar {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        min-width: 100vw;
        height: 25px;
        margin: auto;
        background: #D49E8D;
    }
    
    .bavnar a {
        font-size: .70rem;
        padding: 0px 15px;
        margin: 0px;
        border-left: 3px solid #DED1BD;
        color: #683B2B;
        font-weight: bold;
    }
    
    .bavnar a:hover {
        color: rgb(240, 220, 190);
        text-shadow: 1px 1px black;
    }
    
    .midnav {
        font-size: .95rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        margin: 0 auto;
    }
    
    .midnav a {
        font-family: "Comic Sans MS", cursive, sans-serif;
        color: #683B2B;
        /* text-shadow: 1px 1px darkslategrey; */
        font-weight: bold;
        font-style: italic;
        padding: 0px 15px;
        margin: 0px;
        border-right: 1px solid #D49E8D;
    }
    
    .midnav a:hover {
        color: rgb(231, 172, 154);
        text-shadow: 1px 1px black;
    }
    
    .lastnav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    
    .lastnav a {
        font-size: .80rem;
        color: #2b2b28;
        font-family: "Comic Sans MS", cursive, sans-serif;
        padding: 0px 15px;
        margin: 0px;
    }
    
    .lastnav a:hover {
        color: rgb(231, 172, 154);
        text-shadow: 1px 1px black;
    }
    
    .comp-list-home {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-items: center;
        max-width: 100vw;
        margin: 0;
        border: 5px solid purple;
    }
    
    .carousel {
        display: flex;
        flex-direction: row;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 25px;
    }
    
    .carousel-item img {
        object-fit: cover;
        height: 70vh !important;
        width: 90vw;
        margin: 0 auto;
    }
    
    .carousel-control-next-icon {
        visibility: hidden;
    }
    
    .carousel-control-prev-icon {
        visibility: hidden;
    }
    
    .component-style {
        position: relative !important;
        margin: 0 auto;
        margin-bottom: 6%;
    }
    
    .balance-contact {
        width: 100%;
        margin: 0 auto !important;
        display: flex;
        justify-content: center !important;
        align-items: center;
        padding-left: 20%;
        padding-right: 20%;
        margin-top: 4% !important;
        margin-bottom: 2% !important;
    }
    
    .balance-contact .card {
        width: 350px !important;
        padding: 0px !important;
        margin: 0 auto;
        box-sizing: border-box;
        border: none;
    }
    
    .balance-contact .card-body {
        width: 100%;
        background: #DED1BD;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* margin: 0px; */
    }
    
    .balance-contact .card-title {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-style: italic;
        font-size: 2rem;
        width: 100%;
    }
    
    .balance-contact p {
        width: 100%;
    }
    
    .list-group {
        width: 100%;
        margin: 0 auto;
        background: #DED1BD;
    }
    
    .list-group-item {
        background: #DED1BD;
        border: none;
        margin: 0 auto;
        /* width: 100%; */
    }
    
    .contact-button {
        margin: 0 auto !important;
        width: 55%;
    }
    
    .contactimage {
        margin: 0 auto;
        width: auto;
        padding: 0px;
    }
    /* .balance-contact-img {
        width: 20rem;
        padding: 0px;
    } */
    
    .sign-design {
        margin: 0 auto;
        width: 500px;
        padding: 10px;
        text-align: left;
    }
    
    .header-style {
        margin: 0 auto;
        width: 450px;
        padding: 5px;
        color: #2b2b28;
        text-align: center;
        font-family: cursive;
    }
    /* .header-style-second {
        font-family: cursive;
        color: slategray;
        text-align: left;
    } */
    
    .sidebar-box {
        /* width: 550px;
        max-height: 400px;
        position: relative;
        overflow: hidden;
        opacity: 0.7;
        background: hsla(0, 0%, 95%, 0.965);
        font-weight: bold;
        border-radius: 5px; */
        padding: 45px;
        color: #D49E8D;
        font-family: cursive;
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .sidebar-box .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 550px;
        text-align: center;
        margin: 0 auto;
        padding: 30px 0;
        /* "transparent" only works here because == rgba(0,0,0,0) */
        background-image: linear-gradient(to bottom, transparent, white);
    }
    
    .sidebar-box .read-more .button {
        background: #709e04da;
        padding: 5px;
        border-radius: 5px;
        color: black;
    }
    
    .sign-up-balance {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .sign-design textarea {
        width: 300px;
    }
    
    .hidden-labels {
        display: none;
    }
    
    .sign-design button {
        width: 75px;
        margin: 15px 0;
    }
    
    .email-style {
        border: 1px solid #2b8eb6;
        color: slategray;
        background: bisque;
        border-radius: 7px;
        width: 550px;
        padding: 10px;
        margin: 15px 0;
    }
    
    .email-style input {
        margin: 10px;
    }
    
    .input {
        width: 300px;
        padding: 10px;
        border: 1px solid #2b8eb6;
        margin: 7px 75px;
    }
    
    .items-list-wrapper {
        width: 100%;
        /* height: 100% !important; */
        display: flex;
        flex-wrap: wrap !important;
        justify-content: center;
        padding-top: 40px;
        /* padding-bottom: 200px; */
        margin: 0 auto;
    }
    
    .items-list-wrapper p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .item-card {
        width: 250px;
        height: 400px;
        margin: 0 10px 32px;
        cursor: pointer;
        overflow: hidden;
    }
    
    .item-card-container {
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
    
    .item-card-image {
        width: 100%;
        transition: transform 0.5s ease;
    }
    
    .item-card-image:hover {
        transform: scale(1.1);
    }
    
    .item-card-info {
        width: 250px;
        height: 150px;
    }
    
    .item-card p {
        margin: 0 0 4px;
        text-align: left;
        color: slategray;
        display: flex;
    }
    
    .item-wrapper {
        margin: auto;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        /* padding: 175px; */
    }
    
    .item-header {
        display: flex;
    }
    
    .item-header h2,
    .item-header h4 {
        color: #2b8eb6;
        margin: 0 auto;
    }
    
    .item-header h4 {
        margin-top: 16px;
    }
    
    .item-sub-nav {
        padding-top: 25px;
        border-bottom: 1px solid slategrey;
        justify-content: center;
    }
    
    .item-sub-nav a {
        color: #a5a5a5;
        text-decoration: none;
        padding: 12px;
    }
    
    .item-sub-nav a.active {
        color: #1c5d76;
        font-weight: bold;
    }
    
    .item-sub-nav a:first-of-type {
        margin-right: 32px;
    }
    
    .item-card a {
        text-decoration: none;
    }
    
    .image-wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin: 0 auto;
    }
    
    .item-title-wrapper {
        width: 50%;
        height: 25%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /* flex-flow: column nowrap; */
    }
    
    .item-description {
        max-width: 720px;
        margin: 32px auto;
    }
    
    .item-shipping {
        max-width: 720px;
        margin: 32px auto;
    }
    
    .md-button {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin: 0 8px;
        border: none;
        border-radius: 2px;
        padding: 0 16px;
        min-width: 64px;
        height: 36px;
        vertical-align: middle;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        color: #fff;
        background-color: #3f76c7;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
        font-size: 14px;
        font-weight: 500;
        line-height: 36px;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        transition: box-shadow 0.2s;
    }
    
    .md-button:hover,
    .md-button:focus {
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
    
    .md-button:active {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    
    .md-button:disabled {
        color: rgba(0, 0, 0, 0.38);
        background-color: rgba(0, 0, 0, 0.12);
        box-shadow: none;
        cursor: initial;
    }
    
    .md-button::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: currentColor;
        opacity: 0;
        transition: opacity 0.2s;
    }
    
    .md-button:hover::before {
        opacity: 0.12;
    }
    
    .md-button:focus::before {
        opacity: 0.2;
    }
    
    .md-button:active::before {
        opacity: 0.32;
    }
    
    .md-button:disabled::before {
        opacity: 0;
    }
    
    .md-button::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 18px;
        border-radius: 50%;
        padding: 50%;
        width: 32px;
        height: 32px;
        background-color: currentColor;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 1s, transform 0.5s;
    }
    
    .md-button:active::after {
        opacity: 0.4;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0s;
    }
    
    .md-button:disabled::after {
        opacity: 0;
    }
    
    .shopping-cart {
        border: 1px solid salmon;
        display: block;
        margin: 0 auto;
        width: 1000px;
        background: white;
        border-radius: 5px;
        margin-top: 3%;
        margin-bottom: 6%;
    }
    
    .shopping-cart img {
        width: 100px;
    }
    
    .shopping-cart-item {
        margin-top: 2%;
    }
    
    .makemesmaller {
        font-size: 1.3rem;
    }
    
    .shopping-cart h1,
    p {
        padding: 2px 0;
        margin: 0 20px;
    }
    
    .shopping-cart__checkout {
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    .shopping-cart__checkout p {
        font-size: 2rem;
    }
    
    .slideshow {
        
        position: relative;
        width: 100%;
        height: 315px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        
    }
    
    .cards-slider-wrapper {
        display: flex;
        position: absolute;
        margin: 0 auto;
    }
    
    .cards-slider-wrapper .card {
        flex: 1;
        /* max-width: 200px; */
        transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        width: 226px;
        height: 275px;
        margin: 0 auto;
        cursor: pointer;
        overflow: hidden;
        justify-content: center;
    }
    
    .cards-slider {
        position: relative;
        max-width: 226px;
        margin: 0 auto;
    }
    
    .cards-slider:after {
        content: '';
        display: block;
        width: 100%;
        height: 270px;
        outline: 5px solid #D49E8D;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .cards-slider img {
        margin: 0 auto;
        width: 226px;
        height: 300px !important;
        transition: transform 0.5s ease;
    }
    
    .cards-slider img:hover {
        transform: scale(1.1);
    }
    /* .below {
        width: 100%;
        display: flex;
    } */
    
    .bottom-page {
        bottom: 0 !important;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        background: rgba(231, 172, 154, 0.322);
        /* border-top: 3px solid #B08401; */
    }
    
    .bottoms-grid {
        width: 280px;
        height: 100%;
        margin: 0 auto;
        padding-left: none !important;
        padding-right: none !important;
    }
    
    .bottoms-grid p {
        margin: 0 auto;
        /* padding-bottom: 20px; */
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-style: italic;
        font-size: 1.3rem;
        color: #2b2b28;
        padding: none !important;
    }
    
    .bottoms-list a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        /* padding: 0px 20px; */
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 1rem;
        color: #683B2B !important;
        padding: none !important;
    }
    
    .bottoms-list a:hover {
        /* border-bottom: solid 3px rgb(231, 172, 154); */
        cursor: pointer;
        padding: none !important;
    }
    
    .endofpage {
        bottom: 0 !important;
        /* display: block; */
        left: 0;
        margin: 0 auto;
        position: relative !important;
        width: 100%;
        height: 500px !important;
        /* grid-row-start: 2 !important;
        grid-row-end: 3 !important; */
    }
    
    .footer-page {
        bottom: 0 !important;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(104, 59, 43, 0.473);
        /* border-top: 3px solid #B08401; */
    }
    
    .footer-grid {
        bottom: 0 !important;
        font-size: .65rem;
    }
    
    .footer-grid a {
        padding: 0px 10px;
    }

    /* view for iphone */
    @media screen and (min-width: 600px) and (max-width: 800px) {
        body {
            margin: 0 auto;
            background: #DED1BD;
            display: flex; 
            flex-direction: column;
            justify-content: center;
            width: 100vw;
            /* overflow: hidden;  */
        }


        .component-list {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;      
        }

        .nav-style {
            
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            height: 130px;
            width: 100%;
            padding: 0px;
            background-image: linear-gradient(to bottom, transparent, rgb(240, 220, 190));
        }
    
        .newbub {
            display: flex;
            width: 100%;
            flex-direction: row;
            margin: 0 auto;     
        }
    
        .navspace {
            flex: 1;
        }

        .maglogo {
            
            display: flex;
            flex-direction: row;        
            z-index: 75; 
            border: 4px solid rgb(39, 78, 255); 
            object-fit: none; 
        
       }        

        .nav-style {
            display: flex;
            flex-direction: row;
            margin: 0px;
            height: 100px;
            width: 100vw;
            padding: 0px;
            background-image: linear-gradient(to bottom, transparent, rgb(240, 220, 190));
            border: 4px solid black;
        }



        .bavnar {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 25px;
            padding: 0px;
            margin: 0 auto;
            background: #D49E8D;
        }

        .bavnar > a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 25px;
            padding: 0px;
            margin: 0 auto;
            background: #D49E8D;
        }

        .subbub {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        .midnav {
          margin: 0 auto;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

        .lastnav{
          margin: 0 auto;
          width: 100vw;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .comp-list-home > img { 
            width: inherit;
            margin: 0 auto;
            padding: 0px;
         
        }
    }

    @media screen and (min-width: 320px) and (max-width: 600px) {

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* height: 35px; */
            /* padding: 0px; */
            margin: 0 auto;
            min-width: 100%;
        }

        .bavnar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 35px;
            padding: 0px;
            margin: 0 auto;
            min-width: 100%;
            background: #D49E8D;
        }

        .subbub{display: none;}

        .comp-list-home {
            
           margin: 0 auto;
           padding: 0px;
           min-width: 100%;
           
        }

        .container{

            margin: auto;
            display: flex;
            flex-direction: row;
            justify-items: center; 
               
        }

       
    }